@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');
body{
  padding: 0;
  margin: 0;
  color: aliceblue;
}
 .red {color: red}
.green {color: rgb(24, 140, 207)}
Button{
  background-color: #26c289;
	color: whitesmoke;
	padding:  1em 2em;
	display: inline-block;
	width: 6%; 
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-align: center;
}
.button{
  text-align: center;
}
.copyRight{
  font-size:23px;
text-align: right;
margin-top: 250px;
color: rgb(0, 4, 10);

}
Button:disabled {
background-color: rgb(177, 130, 130);
}
Button:hover {background-color: #3e8e41}
Button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
Button:visited {
  background-color: #120e02;
  box-shadow: 0 5px rgb(191, 175, 175);
  transform: translateY(4px);
}
.header{
  padding-top: 100px;
 font-weight: 600;
  text-align: center;
  font-size: 100px;
  font-family: 'Bangers';
text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75)
}
.playButton{
  text-align: center;
}
.playButtonGuess{
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
  text-shadow: -1px 2px 15px rgba(0, 0, 0, 0.75)
}
.title1{
   text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
